/* Write your CSS here */
.slider-app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.planets-heading{
  color:#05acff;
  font-family: "Roboto";
  text-align: center;
  padding-top: 48px;
  font-size: 32px;
}